<template>
  <Page>
    <ActionBar>
      <Label text="Money Tracker Mobile"></Label>
    </ActionBar>

    <StackLayout>
      <Label class="header">
        <FormattedString>
          <Span class="fas" text.decode="&#xf51e; " />
          <Span :text="message" />
        </FormattedString>
      </Label>
      <GridLayout columns="*, *" rows="auto">
        <TextField class="text-field" row="0" col="0" v-model="description" hint="Description" />
        <TextField
          class="text-field"
          row="0"
          col="1"
          v-model="amount"
          keyboardType="number"
          hint="Amount"
        />
      </GridLayout>
      <Button class="button" text="Add" @tap="addExpense" />
      <Label class="header" :text="totalAmount" />

      <ListView
        class="expenses-list"
        for="item in expenses"
        @itemTap="onItemTap"
        separatorColor="transparent"
      >
        <v-template>
          <GridLayout columns="3*, *" rows="auto" class="expenses-list__item">
            <Label style="margin-left:30px" row="0" col="0" :text="item.text" />
            <Label row="0" col="1" :text="item.value"/>
          </GridLayout>
        </v-template>
        <v-template if="$odd">
          <GridLayout columns="3*, *" rows="auto" class="expenses-list__item--odd">
            <Label style="margin-left:30px" row="0" col="0" :text="item.text" />
            <Label row="0" col="1" :text="item.value"/>
          </GridLayout>
        </v-template>
      </ListView>
    </StackLayout>
  </Page>
</template>

<script>
const appSettings = require("tns-core-modules/application-settings");

export default {
  methods: {
    onItemTap(event) {
      confirm("Delete?").then(result => {
        if (result) {
          this.expenses.splice(event.index, 1);
          appSettings.setString("expenses", JSON.stringify(this.expenses));
        }
      });
    },
    addExpense() {
      const cDescription = this.description.trim();
      const cAmount = this.amount.replace(/\D/g, "").trim();

      if (cDescription !== "" && cAmount !== "") {
        this.expenses.unshift({
          text: cDescription,
          value: cAmount,
          date: new Date().getMonth() + 1 + "/" + new Date().getFullYear()
        });
        this.description = "";
        this.amount = "";
      }

      appSettings.setString("expenses", JSON.stringify(this.expenses));
    }
  },
  computed: {
    message() {
      return "Add expenses";
    },
    totalAmount() {
      if (!this.expenses) {
        this.expenses = [];
      }
      return (
        "Total: " +
        this.expenses.reduce(function(prev, cur) {
          return parseInt(prev) + parseInt(cur.value);
        }, 0)
      );
    }
  },
  data() {
    return {
      description: "",
      amount: "",
      expenses: JSON.parse(appSettings.getString("expenses", []))
    };
  }
};
</script>

<style scoped lang="scss">
@import "~@nativescript/theme/scss/variables/blue";

// Custom styles
.fas {
  @include colorize($color: accent);
}

.header {
  font-size: 24;
  horizontal-align: center;
  vertical-align: center;
  margin-top: 12px;
}

.text-field {
  font-size: 20px;
}

.button {
  margin-top: 12px;
  font-size: 24px;
}

.expenses-list {
  vertical-align: center;
  font-size: 20;
  margin-right: 15;
  margin-left: -15;
}

.expenses-list__item {
  padding: 5;
  // margin-left: 15;
  &--odd {
    padding: 5;
    // margin-left: 15;
    color: black;
    background-color: whitesmoke;
  }
}
</style>
